/// TodoInsert.tsx
.formTodo {
  width: 100%;

  .inputTodo_button {
    margin-left: 10px;
  }
  .memoTodo {
    height: 150px;
  }
}

/// TodoList.tsx
.todoList {
  padding: 0;
  list-style: none;
  margin-top: 40px;
}

/// TodoItem.tsx
.todoBox {
  padding: 1px 0;
  border-bottom: 1px solid #111;
  span {
    &:hover {
      cursor: pointer;
    }
  }

  .todoItem {
    min-height: 60px;
    display: flex;
    align-items: center;
    &.done {
      .todoContent {
        color: #ddd;
        text-decoration: line-through;
      }
    }
    .todoContent {
      float: left;
      width: 80%;
      .todoDate {
        float: right;
      }
      &.modify {
        height: 22px;
      }
    }
    .todoButton {
      float: right;
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-left: 60px;
      .todoRemove {
      }
      .todoModify {
      }
      .todoDone {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #235a99;
        :hover {
          cursor: default;
        }
        &.done {
          background-color: #888;
        }
      }
    }
  }
  .todoMemo {
    margin: 20px 0;
    width: 80%;
  }
}

.modifyTitle {
  width: 400px;
}
